 <form class="card-body " id="new-post-form">

 
<h2 class="subtitle">Create a new Post</h2>

        <textarea id="posttitle" class="textarea" placeholder="Enter post title.."></textarea>
         <textarea id="postcontent" class="textarea" placeholder="Enter your post.."></textarea>
        <button type="submit" class="button is-link" id="submit">Create Post</button>

     </form>


     <script src="/js/addpost.js"></script>
     