<div class="box">
        <form class="card-body " id="edit-post-form">
                <h2 class="make-white subtitle">Edit Post</h2>
                <input type="hidden" name="post_id" value="{{post.id}}">
                <textarea id="posttitle" class="textarea">{{post.title}}</textarea>
                <textarea id="postcontent" class="textarea">{{post.content}}</textarea>
                
        </form>
        <footer class="card-footer">
                {{!-- <button type="submit" class="button is-link" id="submit">Edit Post</button> --}}
                <a href="" class="card-footer-item" id="submit">Edit Post</a>
                <a href="/" class="card-footer-item">Back to home</a>
        </footer>
   <div id="error-message"></div>
 </div>
<script src="/js/editpost.js"></script>