<section>
<div class="box">
    <div class="card width-50">
      <div class="card-content">
  <form action="/api/users/login" method="post">
   <div class="field">
      <label class="label" for="email-input">Email</label>
      <input class="input" type="text" name="email" id="email-input">
    </div>
    <div class="field">
      <label class="label" for="password-input">Password</label>
      <input class="input" type="password" name="password" id="password-input">
    </div>

    <button class="button" type="submit">Login</button>

    {{#if error}}
    <p style="color: rgb(20, 19, 19);">{{error}}</p>
    {{/if}}
  </form>
  </div>
  
  <footer class="card-footer">
    <a href="/signup" class="card-footer-item">Dont have an account?</a>
  </footer>
  </div>
</div>
</section>